::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dim-blue-color);
}

*:focus {
    outline: none;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* start side bar*/
.sidebar {
    min-height: 100vh;
}

.sidebar h2 {
    margin: 0 auto 40px;
}

.sidebar h2::before,
.sidebar h2::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar h2::before {
    width: calc(100% + 40px);
    height: 1px;
    bottom: -5px;
}

.sidebar h2::after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: -10px;
    outline: 5px solid white;
}

.sidebar li a i {
    margin-right: 10px;
}

.sidebar li a.selected,
.sidebar li a:hover {
    background-color: #F6F6F6;
}

@media (max-width: 767px) {
    .sidebar {
        padding-left: 10px;
        padding-right: 10px;
    }

    .sidebar h2 {
        font-size: 13px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sidebar h2::before,
    .sidebar h2::after {
        display: none;
    }
}
/* end sidebar */

/* start search bar */
.container .search-bar form::after {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    color: var(--grey-color);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.container .search-bar form input {
    width: 160px;
    padding: 10px 0 10px 40px;
    border: 1px solid #ccc;
}

.container .search-bar form input:focus {
    width: 180px;
}

.container .search-bar form input:focus::placeholder {
    opacity: 0;
}

.container .search-bar .search-bar-icons .notifications::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    top: -8px;
    right: -5px;
}
/* end search bar */

/* start content */
.container .content {
    background-color: #F1F5F9;
}

.container .content h1 {
    margin-bottom: 40px;
}

.container .content h1::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: white;
    bottom: -10px;
    left: 0;
}

.container .content h1::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: black;
    bottom: -10px;
    left: 0;
}

.boxes {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

@media (max-width: 767px) {
    .boxes {
        grid-template-columns: minmax(200px, 1fr);
        gap: 10px;
    }
}
/* end content */

/* start site control */
.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 767px) {
    .profile {
        flex-direction: column;
    }
}

.profile .summary {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-right: 1px solid #eee;
    text-align: center;
}

@media (max-width: 767px) {
    .profile .summary {
        
        margin: 20px auto;
        border: none;
    }
}

.profile .summary img {
    width: 120px;
    height: 120px;
}

.profile .summary .progress {
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: #eee;
}

.profile .summary .progress span {
    border-radius: 5px;
}

.profile .summary .rating {
    width: fit-content;
}

.profile .summary .rating li i {
    margin-right: 5px;
    font-size: 13px;
}

.profile .summary .rating li i.full {
    color: var(--orange-color)
}

.profile .details {
    flex: 1;
}

.profile .details .profile-row {
    font-size: 15px;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
    .profile .details .profile-row {
        text-align: center;
    }
}

.profile .details .profile-row:hover {
    background-color: #F9F9F9;
}

.profile .details .profile-row .details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.profile .details .profile-row .details > div {
    width: 250px;
}

@media (max-width: 767px) {
    .profile .details .profile-row .details {
        justify-content: center;
    }

    .profile .details .profile-row .details > div {
        width: 150px;
    }
}

@media (max-width: 767px) {
    .profile .details .profile-row .details .toggle {
        justify-content: center;
    }
}

.profile .details .profile-row .toggle-switch {
    width: 78px;
    height: 20px;
}

.profile .details .profile-row .toggle-switch::before {
    width: 12px;
    height: 12px;
    font-size: 8px;
}

.profile .details .profile-row .toggle-checkbox:checked + .toggle-switch::before {
    left: 62px;
}
/* end profile */

/* start skills */
.skills {
    flex-basis: 30%;
}

@media (max-width: 767px) {
    .skills {
        flex-basis: 100%;
    }

    .skills .details .skills-row {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}
/* end skills */

/* start activities */
.activities {
    flex: 1;
}

.activities .details .activity img {
    width: 64px;
}
/* end activities */